@model UniFIIcation.Models.PostariViewModel
@{
    ViewData["Title"] = "Postari";
}
@section Scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
}
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anul 1, Semestrul 1<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/Postari/Index/1/">SD</a></li>
            <li><a href="/Postari/Index/2/">ACSO</a></li>
            <li><a href="/Postari/Index/3/">Logica</a></li>
            <li><a href="/Postari/Index/4/">Matematică</a></li>
            <li><a href="/Postari/Index/5/">IP</a></li>
            <li><a href="/Postari/Index/6/">Engleza</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anul 1, Semestrul 2<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/Postari/Index/7/">POO</a></li>
            <li><a href="/Postari/Index/8/">SO</a></li>
            <li><a href="/Postari/Index/9/">FAI</a></li>
            <li><a href="/Postari/Index/10/">PS</a></li>
            <li><a href="/Postari/Index/11/">PA</a></li>
            <li><a href="/Postari/Index/12/">Engleza</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anul 2, Semestrul 1<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">           
            <li><a href="/Postari/Index/13/">BD</a></li>
            <li><a href="/Postari/Index/14/">Retele</a></li>
            <li><a href="/Postari/Index/15/">CDC</a></li>
            <li><a href="/Postari/Index/16/">PLP</a></li>
            <li><a href="/Postari/Index/17/">AG</a></li>
            <li><a href="/Postari/Index/18/">Engleza</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anul 2, Semestrul 2<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/Postari/Index/19/">TW</a></li>
            <li><a href="/Postari/Index/20/">PA</a></li>
            <li><a href="/Postari/Index/21/">IP</a></li>
            <li><a href="/Postari/Index/22/">SGBD</a></li>
            <li><a href="/Postari/Index/23/">PF</a></li>
            <li><a href="/Postari/Index/24/">Matlab</a></li>
            <li><a href="/Postari/Index/25/">Cripto</a></li>
            <li><a href="/Postari/Index/26/">Engleza</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anul 3, Semestrul 1<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/Postari/Index/27/" method="post">.Net</a></li>
            <li><a href="/Postari/Index/28/">SI</a></li>
            <li><a href="/Postari/Index/29/">Python</a></li>
            <li><a href="/Postari/Index/30">IA</a></li>
            <li><a href="/Postari/Index/31/">ML</a></li>
            <li><a href="/Postari/Index/32/">CSSO</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Anul 3, Semestrul 2<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/Postari/Index/33/">CN</a></li>
            <li><a href="/Postari/Index/34/">GC</a></li>
            <li><a href="/Postari/Index/35/">PBR</a></li>
            <li><a href="/Postari/Index/36/">PDJ</a></li>
            <li><a href="/Postari/Index/37/">ARMS</a></li>
            <li><a href="/Postari/Index/38/">ACTN</a></li>
            <li><a href="/Postari/Index/39/">RTP</a></li>
            <li><a href="/Postari/Index/40/">CLOUD</a></li>
            <li><a href="/Postari/Index/41/">MSOFFICE</a></li>
            <li><a href="/Postari/Index/42/">SMA</a></li>
            <li><a href="/Postari/Index/43/">TS .NET</a></li>
            <li><a href="/Postari/Index/44/">Licenta</a></li>
        </ul>
    </li>
</div>

<div id="main">

    <span style="font-size:15px;cursor:pointer" onclick="openNav()">&#9776; Materii</span>
</div>

<script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0px";
            document.getElementById("main").style.marginLeft= "0px";
            document.body.style.backgroundColor = "white";
        }
</script>


<h3><i>Materia: @Html.DisplayFor(item => Model.NumeMaterie)</i></h3>
<div style="float: left; width: 45%;">

    <h3>File for upload</h3>
    <form asp-action="AddUpload" asp-controller="Postari" method="post" enctype="multipart/form-data">
        <input type="hidden" name="materieId" value="@Model.MaterieId">
        <input type="file" name="uploadedFile" /><br>
        <input type="submit" value="Upload" />


    </form>

    <h3>All Files</h3>
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>Files</th>
                    <th> </th>
                    <th>Date</th>
                    <th>Username</th>
                    <th style="width: 25px;"></th>
                </tr>
            </thead>
            @foreach (var f in Model.VmUploads)
            {



                <tbody>
                    <tr>
                        <td><embed src="@Url.Content(f.Path)" width="15" height="21" /></td>
                        <td class="whatever">@Url.Content(f.Name)</td>
                        <td> @f.DateTimeUpload</td>
                        <td>@Model.NumeUser</td>
                        <td>
                            <a href="@Url.Content(f.Path)">View</a>

                            <a asp-action="DeleteFile" asp-route-id="@f.UploadId">Delete</a>
                        </td>
                    </tr>

                </tbody>
            }
        </table>
    </div>



</div>
<div style="float: right; width: 55%;">
    <div class="container">
        <div class="row">
            <a id="urlIdReview" href="" onclick="changeLink()" class="btn btn-primary btn-default">See Reviews</a>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <a id="urlId" href="" onclick="changeLink()" class="btn btn-primary btn-default">Add New Comment</a>
            </div>
        </div>

        <script>
        function changeLink() {
            var newid = @Model.MaterieId;
            var newlink = "/Postari/Create/" + newid + "/";
            var newlinkReview = "/Review/Index/" + newid + "/";

            var link = document.getElementById("urlId");
            var linkReview = document.getElementById("urlIdReview");

            link.setAttribute("href", newlink);
            linkReview.setAttribute("href", newlinkReview);

        }


        </script>
        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Chat</div>
                    <div class="panel-body">
                        <div class="container">
                            @foreach (var item in Model.VmPostari)
                            {
                                <div class="row message-bubble">
                                    <p class="text-muted">@Model.NumeUser</p>
                                    <p class="text-muted">@Html.DisplayFor(modelItem => item.DateTime)</p>


                                    <span>@Html.DisplayFor(modelItem => item.Content)</span>
                                    <br>
                                    <a asp-action="Edit" asp-route-id="@item.PostareId">Edit</a>
                                    <br>
                                    <a asp-action="Delete" asp-route-id="@item.PostareId">Delete</a>
                                </div>
                            }
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>

</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0px";
        document.getElementById("main").style.marginLeft = "0px";
        document.body.style.backgroundColor = "white";
    }
</script>